<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <p>
      A request to become a wholesaler was received.
      <br/><br/>
      Please go to the CTR Store Administration interface and accept or deny this wholesaler request.
    </p>
  </body>
</html>